@font-face {
    font-family: 'Quicksand';
  	src: url('../fonts/Quicksand/Quicksand-Light.ttf');
  	src:  url('../fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: thin;
}
@font-face {
    font-family: 'Quicksand';
  	src: url('../fonts/Quicksand/Quicksand-Regular.ttf');
  	src:  url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand';
  	src: url('../fonts/Quicksand/Quicksand-Medium.ttf');
  	src:  url('../fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: medium;
}
@font-face {
    font-family: 'Quicksand';
  	src: url('../fonts/Quicksand/Quicksand-Bold.ttf');
  	src:  url('../fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}
html, body{
	width: 100%;
  	height: 100%;
  	overflow: hidden;
	margin: 0px;
	padding: 0px;
  	color: #fff;
  	background-color: #FF610F;
  	background-image: url(../orang.png);
	background-size: cover;
	font-family: "Quicksand";
}
h2 {
    font-size: 1vw;
    font-weight: 600;
}
a {
    color: #ffffff;
    text-decoration: none;
}
p {
    padding: 1vw 1.5vw 0 1.5vw;
    word-wrap: break-word;
    text-align: center;
    font-size: 1vw;
    font-weight: 600;
    margin: 0.5vw;
}
h1 {
    text-align: right;
    font-size: 1vw;
    margin: 0 1.5vw 0.8vw 0;
    font-weight: 600;
}

.mazoe-logo{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
}
.logo-before {
    left: -150%;
}
.logo-active {
	left: 50%;
}
.logo-after {
	left: 150%;	
}
.devshop {
    height: 3vw;
    width: 13vw;
    position: absolute;
    display: inline-block;
    bottom: 2vh;
    left: 2vw;
    z-index: 9;
}
.tweet {
    position: absolute;
    background: #ff610f;
    border: 1px solid #fff;
    border-radius: 0.2vw;
    width: 52vw;
    top: 50%;
}
.card-before {
    left: -150%;
	transform: translate(-50%,-50%) scale(0.4);
	transition: all ease-in 0.5s;	
}
.card-active {
	left: 50%;
	transform: translate(-50%,-50%) scale(1);
	transition: all ease-in 0.5s;	
}
.card-after {
	left: 150%;
	transform: translate(-50%,-50%) scale(0.4);	
	transition: all ease-in 0.5s;	
}
.twitter-cards {
    position: absolute;
	display: inline-block;
    transform: translate(-50%,-50%);
    top: 26%;
    height: 10vw;
    left: 50%;
    width: 56vw;
    overflow: hidden;
}
#scene {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.orange1 {
    position: absolute;
    width: 10vw;
    left: -3.6vw;
    top: -5vh;
    transform: rotate(81deg);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-name: animation-7;
}
.orange2 {
    position: absolute;
    width: 8.5vw;
    left: 33vw;
    top: -7vh;
    transform: rotate(11deg);
}
.orange3 {
    position: absolute;
    width: 12vw;
    left: 58vw;
    top: -4vh;
    transform: rotate(74deg);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-name: animation-3;
}
.orange4 {
    position: absolute;
    width: 13vw;
    right: -1vw;
    top: -3vh;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 120s;
    animation-name: animation-8;
}
.orange5 {
    position: absolute;
    width: 11vw;
    left: -9vw;
    top: 39vh;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 120s;
    animation-name: animation-8;
}
.orange6 {
    position: absolute;
    width: 8vw;
    left: 12vw;
    top: 23vh;
    transform: rotate(145deg);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-name: animation-6;
}
.orange7 {
    position: absolute;
    width: 10vw;
    left: 30vw;
    top: 25vh;
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 140s;
    animation-name: animation-10;
}
.orange8 {
    position: absolute;
    width: 8vw;
    left: 56vw;
    top: 25vh;
    transform: rotate(185deg);
}
.orange9 {
    position: absolute;
    width: 8vw;
    right: 16vw;
    top: 35vh;
    transform: rotate(136deg);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 60s;
    animation-name: animation-12;
}

.orange10 {
    position: absolute;
    width: 11vw;
    right: -4vw;
    top: 46vh;
    transform: rotate(-33deg);
}
.orange11 {
    position: absolute;
    width: 11vw;
    right: 30vw;
    top: 54vh;
    transform: rotate(-33deg);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 40s;
    animation-name: animation-2;
}
.orange12 {
    position: absolute;
    width: 6vw;
    left: 32vw;
    top: 69vh;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 520s;
    animation-name: animation-8;
}

.orange13 {
    position: absolute;
    width: 7.5vw;
    left: 15vw;
    top: 55vh;
    transform: rotate(79deg);
}


.orange14 {
    position: absolute;
    width: 9.5vw;
    left: -3vw;
    top: 73vh;
    transform: rotate(49deg);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    animation-name: animation-9;
}
.orange15 {
    position: absolute;
    width: 10vw;
    left: 17vw;
    top: 90vh;
    transform: rotate(-593deg);
}
.orange16 {
    position: absolute;
    width: 7vw;
    right: 28vw;
    top: 93vh;
    transform: rotate(258deg);
}
.orange17 {
    position: absolute;
    width: 22vw;
    right: -2vw;
    bottom: -2.5vw;
    transform: rotate(2deg);
}
.orange18 {
    position: absolute;
    width: 6vw;
    left: 44vw;
    top: 46vh;
    transform: rotate(-29deg);
}
.orange19 {
    position: absolute;
    width: 25vw;
    left: 37vw;
    bottom: -1vw;
}
.orange20 {
    width: 21vw;
}


@media screen and (orientation: portrait) {
	.orange19 {
    position: absolute;
    width: 60vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3vw;
}

.orange17 {
    position: absolute;
    width: 33vw;
    right: -2vw;
    bottom: -4.5vw;
    transform: rotate(2deg);
}
.orange18 {
    position: absolute;
    width: 17vw;
    left: 58vw;
    top: 36vh;
    transform: rotate(-29deg);
}

.orange15 {
    position: absolute;
    width: 18vw;
    left: 1vw;
    top: 89vh;
    transform: rotate(-593deg);
}

.orange14 {
    position: absolute;
    width: 13.5vw;
    left: -3vw;
    top: 62vh;
    transform: rotate(-383deg);
}
.orange15 {
    position: absolute;
    width: 18vw;
    left: 5vw;
    top: 86vh;
    transform: rotate(-593deg);
}
.orange13 {
    position: absolute;
    width: 11.5vw;
    left: 19vw;
    top: 48vh;
    transform: rotate(79deg);
}

.orange11 {
    position: absolute;
    width: 21vw;
    right: 26vw;
    top: 54vh;
    transform: rotate(-33deg);
}
.orange12 {
    position: absolute;
    width: 11vw;
    left: 20vw;
    top: 74vh;
    transform: rotate(-33deg);
}
.orange18 {
    position: absolute;
    width: 17vw;
    left: 34vw;
    top: 36vh;
    transform: rotate(-29deg);
}

.orange5 {
    position: absolute;
    width: 18vw;
    left: -9vw;
    top: 29vh;
    transform: rotate(-2deg);
}

.orange6 {
    position: absolute;
    width: 10vw;
    left: 12vw;
    top: 5vh;
    transform: rotate(145deg);
}

.orange7 {
    position: absolute;
    width: 17vw;
    left: 23vw;
    top: 14vh;
    transform: rotate(219deg);
}

.orange8 {
    position: absolute;
    width: 13vw;
    left: 56vw;
    top: 19vh;
    transform: rotate(185deg);
}

.orange9 {
    position: absolute;
    width: 10vw;
    right: 8vw;
    top: 46vh;
    transform: rotate(136deg);
}

.orange10 {
    position: absolute;
    width: 17vw;
    right: -4vw;
    top: 70vh;
    transform: rotate(-33deg);
}

.orange8 {
    position: absolute;
    width: 13vw;
    left: 88vw;
    top: 25vh;
    transform: rotate(185deg);
}

.orange6 {
    position: absolute;
    width: 10vw;
    left: 56vw;
    top: 16vh;
    transform: rotate(145deg);
}

.orange4 {
    position: absolute;
    width: 17vw;
    right: -4vw;
    top: -2vh;
    transform: rotate(74deg);
}
.orange7 {
    position: absolute;
    width: 17vw;
    left: 27vw;
    top: 5vh;
    transform: rotate(219deg);
}
.orange1 {
    position: absolute;
    width: 18vw;
    left: -10.6vw;
    top: -4vh;
    transform: rotate(81deg);
}
.orange16 {
    position: absolute;
    width: 11vw;
    right: 21vw;
    top: 84vh;
    transform: rotate(258deg);
}
p {
    padding: 0 2vw;
    word-wrap: break-word;
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
}
h1 {
    text-align: right;
    font-size: 3vw;
    margin: 0 3.5vw 1.8vw 0;
    font-weight: 600;
}
.twitter-cards {
    position: absolute;
    display: inline-block;
    transform: translate(-50%,-50%);
    top: 26%;
    height: 43vw;
    left: 50%;
    width: 100vw;
    overflow: hidden;
}
	.tweet {
    position: absolute;
    transform: translate(-50%,-50%);
    background: #fe712c;
    border: 1px solid #fff;
    border-radius: 0.2vw;
    width: 96vw;
    top: 50%;
}
	
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
	.twitter-cards {
    position: absolute;
    display: inline-block;
    transform: translate(-50%,-50%);
    top: 26%;
    height: 15vw;
    left: 50%;
    width: 56vw;
    overflow: hidden;
}
.tweet {
    position: absolute;
    transform: translate(-50%,-50%);
    background: #fe712c;
    border: 1px solid #fff;
    border-radius: 0.2vw;
    width: 50vw;
    top: 50%;
}

p {
    padding: 0 1.5vw;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 600;
}

h1 {
    text-align: right;
    font-size: 1.3vw;
    margin: 0 1.5vw 0.8vw 0;
    font-weight: 600;
}	
	
}


@keyframes drips {
  10%, 90% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(330px);
            transform: translateY(330px);
    opacity: 0;
  }
}

@keyframes animation- {
    0% {
    transform: rotate(142deg);
    }
    50% {
    transform: rotate(200deg);
    }
    100% {
    transform: rotate(142deg);
    }
}
@keyframes animation-2 {
    0% {
    transform: rotate(33deg);
    }
    50% {
    transform: rotate(-20deg);
    }
    100% {
    transform: rotate(33deg);
    }
}
@keyframes animation-3 {
    0% {
    transform: rotateX(-50deg);
    }
    50% {
    transform: rotateX(50deg);
    }
    100% {
    transform: rotateX(-50deg);
    }
}
@keyframes animation-6 {
    0% {
    transform:rotate(145deg) rotateX(70deg);
    }
    50% {
    transform:rotate(145deg) rotateX(-50deg);
    }
    100% {
    transform:rotate(145deg) rotateX(70deg);
    }
}
@keyframes animation-7 {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.3);
    }
    100% {
    transform: scale(1);
    }
}
@keyframes animation-8 {
    0% {
    transform:rotate(0deg);
    }
    100% {
    transform:rotate(360deg);
    }
}
@keyframes animation-9 {
    0% {
    transform: rotate(40deg) rotateY(-60deg);
    }
    50% {
    transform: rotate(40deg) rotateY(50deg);
    }
    100% {
    transform: rotate(40deg) rotateY(-60deg);
    }
}
@keyframes animation-10 {
    0% {
    transform:rotate(54deg);
    }
    100% {
    transform:rotate(180deg);
		
    }
}
@keyframes animation-11 {
    0% {
    transform: rotate(-29deg) rotateY(-60deg);
    }
    50% {
    transform: rotate(-29deg) rotateY(50deg);
    }
    100% {
    transform: rotate(-29deg) rotateY(-60deg);
    }
}
@keyframes animation-12 {
    0% {
    transform:rotate(136deg) rotateX(30deg);
    }
    50% {
    transform:rotate(120deg) rotateX(-50deg);
    }
    100% {
    transform:rotate(136deg) rotateX(30deg);
    }
}